<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- rendered files -->
		<script defer src="js/main.js"></script>
		<!-- setting for Vuetify -->
		<link
			href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/index.css" />
		<!-- setting for Unity -->
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Junking</title>
		<link rel="shortcut icon" href="TemplateData/favicon.ico" />
		<link rel="stylesheet" href="TemplateData/style.css" />
		<div id="app"></div>
	</head>
	<body>
		<!-- <div id="unity">
			<button>
				<div id="unity-container" class="unity-desktop">
					<canvas id="unity-canvas" width="70%" height="80%"></canvas>
					<div id="unity-loading-bar">
						<div id="unity-logo"></div>
						<div id="unity-progress-bar-empty">
							<div id="unity-progress-bar-full"></div>
						</div>
					</div>
					<div id="unity-warning"></div>
					<div id="unity-footer">
						<div id="unity-webgl-logo"></div>
						<div id="unity-fullscreen-button"></div>
						<div id="unity-build-title">JunkProject</div>
					</div>
				</div>
				<script>
					// fdsafsdafsda
				</script>
			</button>
			<script src="unity/unity.js"></script>
			<script src="unity/unityConnector.js"></script>
			<button onclick="mockSelectP1()">mockP1</button>
			<button onclick="mockSelectP2()">mockP2</button>
		</div> -->
	</body>
</html>
